[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
cloudinary = "*"
Pillow = "*"
psycopg2 = "*"
python-dotenv = "*"
django-heroku = "*"
whitenoise = "*"
dj-database-url = "*"
django-cloudinary-storage = "*"
django-registration = "*"
django-registration-redux = "*"
django-crispy-forms = "*"
django-bootstrap3 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
