{% extends "registration/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container form">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 top-margin card">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{form.errors}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if message %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <form method="POST" action="/accounts/register/">
                <div class="mylogo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/200px-Instagram_logo.svg.png"
                        class="mylogo">
                </div>
                <p class="text-center p muted">Sign up to see photos and videos from your friends.</p>
                {% csrf_token %}
                {% bootstrap_form form %}

                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary btn-sm" value="Sign up">
                </div>
            </form>
            <div class="mx-auto mt-1" style="width: 300px;">
                <p>Already registered? <a href="/accounts/login/">Sign In</a></p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}